<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
    <header>
        <h1>Todo Django App</h1>

        {% if user.is_authenticated %}
            <p> Hi {{ user.username }}!</p>
            <form method="POST" action="{% url 'accounts:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}">Login</a> |
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        {% endif %}

        <hr>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <p>Made with Django 🧡</p>
    </footer>
</body>
</html>
